.parent{
    padding: 25px;
    background: lightcoral;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.child{
    background: lightcyan;
    padding: 20px;
    border: 2px solid gray;
}